<div class="container d-flex flex-wrap justify-content-start">
    <ng-container *ngFor="let todo of getUndone()">
        <div
            class="card-body mt-3 mx-2 d-flex flex-column align-items-center"
            style="
                width: 200px;
                height: 300px;
                border-radius: 0.5rem;
                background-color: #f8d7da;
            "
        >
            <div class="containerCheck m-2">
                <input
                    type="checkbox"
                    [checked]="todo.completed"
                    (change)="toggleCompleted(todo)"
                />
            </div>
            <div class="text d-flex flex-column flex-grow-1 p-2">
                <h2 class="fs-5 fw-semibold">{{ todo.todo }}</h2>
                <p>Author: {{ getName(todo.userId) }}</p>
            </div>
            <img
                src="../../../assets/img/to do.png"
                alt="Incomplete"
                class="img-fluid"
                style="width: 110px; height: auto"
            />
        </div>
    </ng-container>
</div>
