<div class="container d-flex flex-wrap justify-content-start">
    <ng-container *ngFor="let item of combinedItems">
        <div
            class="card-body mt-3 mx-2 d-flex flex-column align-items-center"
            [ngClass]="{
                'bg-success-subtle': item.completed,
                'bg-danger-subtle': !item.completed
            }"
            style="width: 200px; height: 300px; border-radius: 0.5rem"
        >
            <div class="containerCheck m-2">
                <input
                    type="checkbox"
                    [checked]="item.completed"
                    (change)="toggleCompleted(item)"
                />
            </div>
            <div class="text d-flex flex-column flex-grow-1 p-2">
                <h2 class="fs-5 fw-semibold">{{ item.todo }}</h2>
                <p>Author: {{ item.assignedTo }}</p>
            </div>
            <img
                *ngIf="item.completed; else incompleteImage"
                src="../../../assets/img/done.png"
                alt="Completed"
                class="img-fluid"
                style="width: 60px; height: auto"
            />
            <ng-template #incompleteImage>
                <img
                    src="../../../assets/img/to do.png"
                    alt="Incomplete"
                    class="img-fluid"
                    style="width: 80px; height: auto"
                />
            </ng-template>
        </div>
    </ng-container>
</div>
